@media (min-width : 751px) {
    .container main #content {
        height: calc(100% - 120px);
        margin: 0;
        position: relative;
    }
    /* big_title 영역 */
    .container main #content .section_wrap {
        height: calc(1080px - 120px);
        margin: 0;
        position: static;
    }
    .container main #content .big_title {
        top: 400px; left: 37%;
        right: 0;
    }
    .container main #content .big_title .fade_up {
        font-size: 9.3170vw;
        line-height: 9.9692vw;
    }

    /* 슬라이더 영역 */
    .container main #content .swiper .swiper-wrapper .swiper-slide img {
        width: 80.7443vw;
        max-width: 1040px;
        top: 100px; left: 0;
    }
    .container main #content .swiper .swiper-wrapper .swiper-slide .text_wrapper {
        font-size: 20px;
        line-height: 30px;
        top: 60px; left: 80px;
        right: 0;
        text-align: left;
    }
    .container main #content .swiper .swiper-pagination {
        top: 20px; left: 80px;
        text-align: left;
    }
    .container main #content .swiper .swiper-pagination .swiper-pagination-bullet {
        width: 10px; height: 10px;
        margin: 0 10px;
    }
    /* section 영역 */
    .container main #content .section {
        min-height: 1080px;
    }
    .container main #content .section .section_wrapper h2 {
        font-size: 2.7950vw;
        line-height: 4.1925vw;
        margin-top: 50%;
    }
    .container main #content .section .section_wrapper .Dal_title {
        font-size: 9.3170vw;
        line-height: 9.9692vw;
        margin: 0;
        margin-top: 35px;
    }
    .container main #content .section .section_wrapper .text {
        font-size: 20px;
        line-height: 30px;
        margin-top: 55px;
    }

    /* circle 마우스 효과 영역 */
    .container main #content .section .mouse_event .circle_img {
        width: 32.53vw;
        height: 32.9294vw;
        top: 150px; bottom: auto;
    }
    .container main #content .section .mouse_event .circle_big {
        width: 22.7467vw;
        height: 25.2309vw;
        bottom: 1vw; top: auto;
        left: -5.5vw;
    }
    .container main #content .section .mouse_event .circle_small {
        width: 5.9775vw;
        height: 4.7354vw;
        bottom: 3vw; top: auto;
        left: 16vw;
    }

    /* 스토리 영역 */
    .container main #content .dal_story {
        background-size: auto 513px;
        min-height: 1080px;
        padding: 0;
    }
    .container main #content .dal_story .story_title {
        font-size: 2.795vw;
        line-height: 4.1925vw;
        margin-top: 25%;
    }
    .container main #content .dal_story .story_title img {
        height: 36px;
        margin: 0;
        vertical-align: -5px;
    }
    .container main #content .dal_story .text_box {
        font-size: 4.969vw;
        line-height: 7.4535vw;
        margin-top: 35px;
    }

    /* 플레이 영역 */
    .container main #content .play {
        min-height: 1080px;
        padding-bottom: 0;
    }
    .container main #content .play .play_title {
        font-size: 4.969vw;
        line-height: 7.4535vw;
        margin-top: 100px;
    }
    .container main #content .play p {
        font-size: 20px;
        line-height: 30px;
    }
    .container main #content .play .box {
        left: -15vw; top: 28%;
    }
    .container main #content .play .box .mask {
        width: 44.565vw;
        height: 32.453vw;
    }
    .container main #content .play .box .mask img {
        width: auto; height: 100%;
    }
    .container main #content .play .box .mask svg {
        width: 33.152vw; height: 31.988vw;
    }
    .container main #content .play .home {
        left: 35%; bottom: 0;
    }
    .container main #content .play .home .mask {
        width: 47.283vw; height: 42.236vw;
    }
    .container main #content .play .home img {
        width: auto; height: 544px;
    }
    .container main #content .play .home svg {
        width: 40.839vw; height: 38.043vw;
    }
    .container main #content .play .circle {
        display: block;
        position: absolute;
        top: 35%; right: -9vw;
    }
    .container main #content .play .circle .mask {
        width: 37.112vw; height: 37.112vw;
        border-radius: 50%;
    }
    .container main #content .play .circle .mask img {
        width: 62.112vw; height: 100%;
    }
    .container main #content .play .circle svg {
        width: 38.121vw;
        height: 38.121vw;
        position: absolute;
        top: 2vw;
        left: -2vw;
    }
    .container main #content .play .circle svg path {
        fill: none;
        stroke : #f43b00;
        stroke-width: 2px;
        stroke-dasharray : 1700;
        stroke-dashoffset: 1700;
        animation: path3 5s ease-in-out alternate infinite;
    }
    @keyframes path3 {
        0% {
            stroke-dashoffset: 1700;
            fill-opacity: 0;
        }
        100% {
            stroke-dashoffset: 0;
            stroke-opacity: 1;
            fill-opacity: 1;
        }
    }

    /* 커피 메뉴 영역 */
    .container main #content .colorful {
        padding-top: 200px;
    }
    .container main #content .colorful .color_title {
        font-size: 4.969vw;
        line-height: 7.4535vw;
    }
    .container main #content .colorful p {
        font-size: 20px;
        line-height: 30px;
    }
    .container main #content .colorful .img_moving {
        margin-top : 239px;
        height: 375px;
    }
    .container main #content .colorful .bottom_bg {
        height: 214px;
    }
    .container main #content .colorful .img_moving .menu {
        height: 375px;
        background-size: auto 375px;
    }

    /* 앱 소개 영역 */
    .container main #content .new_dal {
        padding-top: 250px;
    }
    .container main #content .new_dal .new_title {
        font-size: 4.969vw;
        line-height: 7.4535vw;
    }
    .container main #content .new_dal p {
        font-size: 20px;
        line-height: 30px;
        padding-top: 40px;
    }
    .container main #content .new_dal .visual #img_flex {
        top: 271px;
    }
    .container main #content .new_dal .visual #img_flex li {
        width: 132px; height: 187px;
    }
    .container main #content .new_dal .visual #img_flex li:nth-child(3) {
        left: 10px;
    }
    .container main #content .new_dal .visual #img_flex li:nth-child(4) {
        right: 10px;
    }
    .container main #content .new_dal .visual #img_flex li img {
        width: 100%; height: auto;
    }
    .container main #content .new_dal .visual .app {
        width: 475px; height: 729px;
        padding: 70px 110px 0 110px;
        margin: 0 auto;
    }

    /* 서포터 영역 */
    .container main #content .support .support_bg {
        background: url(./images/bg_support.svg) no-repeat 50% 50% / cover;
        padding: 170px;
    }
    .container main #content .support .support_bg .support_title {
        font-size: 4.969vw;
        line-height: 7.4535vw;
    }
    .container main #content .support .support_bg p {
        font-size: 20px;
        line-height: 30px;
    }
    .container main #content .support .support_bg .button a {
        width: 279px; height: 71px;
        line-height: 71px;
        margin-top: 70px;
        font-size: 20px;
    }

    /* footer 영역 */
    .container footer {
        padding: 100px 75px;
    }
    .container footer .footer_wrap #gnb2 {
        max-width: 1280px;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .container footer .footer_wrap #gnb2 li strong {
        font-size: 18px;
        line-height: 27px;
        padding: 0;
        display: inline;
    }
    .container footer .footer_wrap #gnb2 li strong a .ico {
        display: none;
    }
    .container footer .footer_wrap #gnb2 li ul {
        display: inline-block;
        padding: 0;
        margin-top: 35px;
    }
    .container footer .footer_wrap #gnb2 li .color {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        color: #343434;
    }
    .container footer .footer_wrap #gnb2 li .font_color {
        color: #FF592E;
    }

    /* selet버튼 영역 */
    .container footer .site_wrap .selet_wrap {
        height: 87px; line-height: 87px;
        background-size: 24px;
    }
    .container footer .site_wrap .selet_wrap .select {
        width: 307px; height: 87px; line-height: 87px;
        font-size: 18px;
    }

    /* copy 영역 */
    .container footer .site_wrap .copyright_wrap {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    /* 스토어 영역 */
    .container footer .playstore {
        font-size: 16px;
        line-height: 50px;
        align-items: center;
        justify-content: unset;
    }
    .container footer .playstore .apple_btn {
        width: auto;
        height: 50px; padding: 0 35px;
    }
    .container footer .playstore .google_btn {
        width: auto;
        height: 50px; padding: 0 35px;
        margin-left: 20px;
    }
    .container footer .playstore .QRcode {
        display: block;
    }
    .container footer .playstore .QRcode img {
        width: 100px;
        margin-left: 20px;
    }
}