@charset "UTF-8";

body {
    font-family: 'SourceSerif4', 'Noto Sans Kr', '맑은 고딕', '돋움체', sans-serif;
    font-weight: 400;
    background-color: #d7a794;
    transition: 0.4s;
}
/* nav 영역 */
.container nav {
    display: flex;
    width: 100%;
}
.container nav #logo {
    font-size: 30px;
    padding: 12px 30px;
    transition: 0.5s;
}
.container nav #logo:hover {
    transform: translateY(10px);
}
/* 메뉴창 영역 */
.container nav #gnb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right : 3.0729vw;;
}
.container nav #gnb li a {
    display: block;
    font-size: 16px;
    font-family: 'Arial';
    color: #000;
    margin-left: 4.4271vw;
    letter-spacing: -0.075em;
}
.container nav #gnb li a:hover {
    color: #fff;
}
/* header 영역 */
.container header #looptext {
    /* 글자 나왔다가 지워졌다가 반복 효과 줘야함 */
    font-family: 'airal';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 28px;
    width: 70vw;
    height: 200px;
}
.container header #arrow {
    /* 화살표 위아래로 움직이는 효과 줘야함 */
    margin-bottom: 52px;
    text-align: center;
}
.container header #arrow img {
    height: 70px;
}

/* main project 로고 */
.container main #projects_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-left: 2.9688vw;
}
.container main #projects_logo span a {
    font-family: 'arial';
    color: #000;
    font-size: 16px;
    margin-right: 3.1771vw;
    letter-spacing: 0.08em;
}
.container main #projects_logo span a:hover {
    color: #fff;
}
.container main .project {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    border-bottom: 1px solid #000;
    position: relative;
    cursor: pointer;
}
.container main .project a {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: #000;
}
.container main .project h2 {
    font-size: 20px;
    letter-spacing: 0.06em;
}
.container main #project2, .container main #project3, .container main #project4 {
    margin-top: 30px;
}
.container main .project .list {
    font-family: 'Pretendard';
    position: absolute;
    top: 50px;
}
.container main .project p {
    font-size: 29px;
    font-family: 'Pretendard';
}
/* main 스킬 부분 */
.container main aside {
    width: 100%;
    margin-top: 75px;
}
.container main #skills_logo {
    font-size: 24px;
    margin-left: 2.9688vw;
}
.container main #skills {
    width: 100%;
    display: flex;
    margin-top: 47px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container main #skills .skill {
    display: flex;
    flex-flow: column;
    flex-basis: auto;
    border-bottom: 1px solid #000;
    width: calc(100% - 122px);
    height: 280px;
    margin: 0 auto;
    margin-top: 20px;
}
.container main #skills .skill h2 {
    font-size: 20px;
    letter-spacing: 0.06em;
}
.container main #skills .skill span {
    font-family: 'Pretendard';
    font-weight: 500;
    letter-spacing: 0.12em;
    margin-top: 15px;
}
.container main #skills .skill span:first-child {
    margin-top: 25px;
}
.container main #skills #skill3 {
    margin-top: 30px;
}
.container main #skills #skill4 {
    margin-top: 30px;
}
/* contact 영역 */
.container main section {
    font-family: 'Pretendard';
    display: flex;
    flex-flow: column;
    margin-left: 61px;
    margin-top: 30px;
    margin-right: 61px;
}
.container main #contact {
    font-size: 22px;
    margin-bottom: 26px;
}
.container main section span {
    margin-bottom: 15px;
}
.container main section span:last-child {
    margin-bottom: 20px;
}
.container main section .text {
    margin-top: 30px;
}
.container main section #btn {
    margin-top: 15px;
    margin-bottom: 103px;
}
.container main section #btn a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #fff;
    background-color: #000;
    margin-left: 61px;
}
.container main section #btn a:hover {
    background-color: #fff;
    color: #000;
}
/* footer 영역 */
.container footer {
    font-family: 'DM Sans';
    background-color: #000;
    width: 100%;
    height: 400px;
    position: relative;
}
.container footer #footer_logo {
    text-align: center;
    padding: 38px 61px;
}
.container footer #footer_logo a {
    width: 50px;
    display: block;
    color: #fff;
    font-size: 30px;
    transition: 0.5s;
}
.container footer #footer_logo a:hover {
    transform: translateY(-10px);
}
.container footer address {
    color: #fff;
    display: flex;
    flex-flow: column;
    margin-left: 61px;
    margin-right: 61px;
    letter-spacing: 0.02em;
}
.container footer address .name {
    margin-bottom: 10px;
}
.container footer address .old {
    margin-bottom: 40px;
}
.container footer address .num {
    margin-bottom: 10px;
}
.container footer address .email {
    font-size: 22px;
    margin-bottom: 25px;
}
.container footer .reserved {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.06em;
    margin-left: 61px;
    margin-top: 31px;
}