@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'),
    url(fonts/NotoSansKR-Bold.woff2),
    url(fonts/NotoSansKR-Bold.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'),
    url(fonts/NotoSansKR-Medium.woff2),
    url(fonts/NotoSansKR-Medium.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'),
    url(fonts/NotoSansKR-Regular.woff2),
    url(fonts/NotoSansKR-Regular.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'),
    url(fonts/NotoSansKR-Light.woff2),
    url(fonts/NotoSansKR-Light.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'FiraSans';
    src: local('FiraSans'),
    url(fonts/FiraSans-Bold.woff2),
    url(fonts/FiraSans-Bold.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'FiraSans';
    src: local('FiraSans'),
    url(fonts/FiraSans-Regular.woff2),
    url(fonts/FiraSans-Regular.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'DMSans';
    src: local('DMSans'),
    url(fonts/DMSans-Regular.woff2),
    url(fonts/DMSans-Regular.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSerif4';
    src: local('SourceSerif4'),
    url(fonts/SourceSerif4-Regular.woff2),
    url(fonts/SourceSerif4-Regular.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard'),
    url(fonts/Pretendard-Medium.woff2),
    url(fonts/Pretendard-Medium.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: local('Pretendard'),
    url(fonts/Pretendard-Bold.woff2),
    url(fonts/Pretendard-Bold.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: local('SpoqaHanSansNeo'),
    url(fonts/SpoqaHanSansNeo-Regular.woff2),
    url(fonts/SpoqaHanSansNeo-Regular.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: local('SpoqaHanSansNeo'),
    url(fonts/SpoqaHanSansNeo-Medium.woff2),
    url(fonts/SpoqaHanSansNeo-Medium.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: local('SpoqaHanSansNeo'),
    url(fonts/SpoqaHanSansNeo-Bold.woff2),
    url(fonts/SpoqaHanSansNeo-Bold.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'SCDream4';
    src: local('SCDream4'),
    url(fonts/SCDream4.woff2),
    url(fonts/SCDream4.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'SCDream6';
    src: local('SCDream6'),
    url(fonts/SCDream6.woff2),
    url(fonts/SCDream6.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Goldplay';
    src: local('Goldplay'),
    url(fonts/GoldplayAlt-Black.woff2),
    url(fonts/GoldplayAlt-Black.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}
@font-face {
    font-family: 'CooperBlackStd';
    src: local('CooperBlackStd'),
    url(fonts/CooperBlackStd-Black.woff2),
    url(fonts/CooperBlackStd-Black.woff);
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}