@charset "UTF-8";
html {
    max-width: 100%;
    overflow-x: hidden;    word-break: keep-all;
}
body {
    max-width: 100%;
    background-color: #fbf4e4;
    overflow-x: hidden;
}
.container {
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans Kr', '돋움', '굴림', '맑은고딕', sans-serif;
    line-height: 1.5;
    color: #222;
}
/* header */
.container .scroll {
    width: 100%;
    position: fixed;
    background-color: #fbf4e4;
    z-index: 999
}
/* nav */
.container header nav {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* nav toggle로 바뀌는 부분 */
.container header nav.toggle {
    background-color: #FFF;
}
/* nav 로고 */
.container header nav h1 img {  
    width: 102px; height: 26px;
    margin-left: 16px;
}
/* nav 햄버거 버튼 */
.container header nav .button {
    width: 20px; height: 30px;
    margin-right: 20px;
    background: url(./images/menu_button.png) 50% 50%/ cover;
}
/* nav 햄버거 toggle로 바뀌는 부분 */
.container header nav.toggle .button {
    background: url(./images/chancel.png) 50% 50% / cover;
}
/* 대메뉴부분 */
.container header nav #gnb {
    width: 100%; height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    padding-top: 50px;
    transition: .5s;
    transform: translateX(100%);
}
.container header nav #gnb li a {
    width: 100%;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #222;
    padding: 10px 20px;
    position: relative;
    transition: .4s;
}
.container header nav #gnb li a::after {
    content: '';
    position: absolute;
    right: 20px; top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 20px; height: 20px;
    background : url(./images/ic_arrow_down.svg);
}
.container header nav #gnb li:last-child a::after {
    display: none;
}
/* 대메뉴 toggle */
.container header nav.toggle #gnb {
    transform: translateX(0);
    background-color: #FFF;
}
/* 대메뉴 안의 요소 toggle */
.container header nav.toggle #gnb li a {
    display: block;
}
/* 대메뉴 클릭시 색상 변경 */
.container header nav #gnb li a.trun {
    color: #f43b00;
}
/* 대메뉴의 화살표 방향 바꾸기 */
.container header nav #gnb li a.trun::after {
    transform: rotate(180deg) translateY(50%);
}
/* 소메뉴 */
.container header nav #gnb li ul {
    padding: 20px;
}
.container header nav #gnb li ul li a {
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding: 10px 0;
}
.container header nav #gnb li ul li a::after {
    display: none;
}
/* 소메뉴 내의 요소 toggle */
.container header nav.toggle #gnb li ul li {
    display: none;
}
.container header nav.toggle #gnb li ul.click li {
    display: block;
}
.container header nav.toggle #gnb li a::after ul.click li {
    display: block;
}
/* 메인 영역 */
.container main #content {
    padding-top: 50px;
}
.container main #content .section_wrap {
    width: 100%; height: 150vw;
    margin-top: 60vw;
    position: relative;
}

/* big title 영역 */
.container main #content .big_title {
    max-width: 85vw;
    font-weight: 900;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    position: absolute;
    left: 50px;
    top: -35vw;
    z-index: 3;
    animation: fadein 2s;
}
/* 글자 fadein 효과 */
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.container main #content .big_title .fade_up {
    font-family: "Goldplay Alt";
    font-size: 12.8vw;
    line-height: 1.21;
    color: #f43b00;
    display: block;
}
.container main #content .big_title .outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f43b00;
    -webkit-text-fill-color: transparent;
}

/* 이미지 슬라이더 영역 */
.container main #content .swiper {
    width: 100%;
    height: 100%;
    --swiper-theme-color: #F43B00;
    animation: fadein-img 2s;
}
@keyframes fadein-img {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        80% {
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
}
.container main #content .swiper .swiper-wrapper {
    width: 100%; height: 100%;
    display: flex;
    position: relative;
}
.container main #content .swiper .swiper-wrapper .swiper-slide {
    width: 100%; height: auto;
}
.container main #content .swiper .swiper-wrapper .swiper-slide img {
    width: 76.8vw;
    display: block;
    position: absolute;
    top: 3.8462vw; left: 20px;
    object-fit: cover;
}
.container main #content .swiper .swiper-wrapper .swiper-slide .text_wrapper {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #f43b00;
    position: absolute;
    top: 102vw;
    right: 20px;
    opacity: 1;
    text-align: right;
}
.container main #content .swiper .swiper-wrapper .swiper-slide .text_wrapper a {
    display: block;
    font-weight: 700;
    color: #f43b00;
    text-decoration: underline;
    margin-top: 35px;
}
.container main #content .swiper .swiper-pagination {
    height: 10px;
    text-align: right;
    vertical-align: top;
    right: 20px; bottom: 55vw;
    z-index: 10;
}
.container main #content .swiper .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
    cursor: pointer;
}
.container main #content .swiper .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 20px;
}

/* 첫번째 section 영역 */
.container main #content .section {
    height: 100vh;
    padding-bottom: 12vw;
    display: flex;
    flex-flow: column;
    position: relative;
    color: #f43b00;
    text-align: center;
}
.container main #content .section .section_wrapper {
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
}
.container main #content .section .section_wrapper.fadein {
    opacity: 1;
    transform: translateY(0);
}
.container main #content .section .section_wrapper h2 {
    font-family: "SCDream6";
    font-size: 6.4vw;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-top: 40%;
}
.container main #content .section .section_wrapper .Dal_title {
    font-family: "Cooper Black";
    font-size: 12.8vw;
    font-weight: 900;
    line-height: 60px;
    margin: 0 7.6923vw;
    margin-top: 7.6923vw;
}
.container main #content .section .section_wrapper .text {
    font-size: 4.8vw;
    line-height: 28px;
    font-weight: 400;
    margin-top: 12.8205vw;
}
/* 마우스 클릭에 따라 움직임 */
.container main #content .section .mouse_event .circle_img {
    width: 38.7179vw; height: 39.2308vw;
    position: absolute;
    top: auto; bottom: 0;
    right: -8.9744vw;
    background: url(./images/circle_img.png) no-repeat;
    background-size: 100%;
}
.container main #content .section .mouse_event .circle_big {
    width: 27.1795vw;
    height: 27.6923vw;
    position: absolute;
    top: -2.5641vw; left: -8.9744vw;
    background: url(./images/circle_big.svg) no-repeat;
    background-size: 100%;
}
.container main #content .section .mouse_event .circle_small {
    width: 6.6667vw; height: 5.1282vw;
    position: absolute;
    top: 21.7949vw; left: 23.0769vw;
    background: url(./images/circle_small.svg) no-repeat 50% 50% / cover;
}

/* 스토리 영역 */
.container main #content .dal_story {
    padding-bottom: 95vw;
    display: flex;
    flex-flow: column;
    text-align: center;
    color: #2A31A0;
    letter-spacing: -0.1em;
    background: transparent url(./images/bg_dal_story.svg) no-repeat center bottom;
    background-position: 50% bottom;
    background-size: auto 78.4615vw;
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
}
.container main #content .dal_story.fadein {
    opacity: 1;
    transform: translateY(0);
}
.container main #content .dal_story .story_title {
    font-family: "SCDream6";
    font-size: 6.4vw;
    font-weight: 700;
    line-height: 9.6vw;
    margin-top: 30%;
}
.container main #content .dal_story .story_title img {
    height: 7.1795vw;
    margin-left: 2.5641vw;
}
.container main #content .dal_story .text_box {
    font-family: "SCDream6";
    font-size: 9.6000vw;
    font-weight: 400;
    line-height: 14.4vw;
    margin-top: 10.2564vw;
}

/* 플레이 영역 */
.container main #content .play {
    color: #f43b00;
    text-align: center;
    letter-spacing: -0.1em;
    position: relative;
    padding-bottom: 200vw;
}
.container main #content .play .play_fade {
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
}
.container main #content .play .play_fade.fadein {
    opacity: 1;
    transform: translateY(0);
}
.container main #content .play .play_title {
    font-family: "SCDream6";
    font-size: 9.6vw;
    font-weight: 400;
    line-height: 14.4vw;
    padding-top: 5.1282vw;
}
.container main #content .play p {
    font-size: 4.8vw;
    font-weight: 400;
    line-height: 7.2vw;
    padding-top: 5.1282vw;
}
.container main #content .play .img_wrapper {
    position: absolute;
}
.container main #content .play .mask {
    width: 98vw; height: 71.0256vw; overflow: hidden;
}
.container main #content .play .box {
    top: 24%; left : -38%;
}
.container main #content .play .box .mask img {
    width: 106.5308vw; height: 100%;
}
.container main #content .play .box .mask svg {
    width: 75vw; height: 70vw;
    position: absolute;
    left: 120px; bottom: -35px;
}
.container main #content .play .box .mask svg path {
    fill: none;
    stroke : #f43b00;
    stroke-width: 2px;
    stroke-dasharray : 1100;
    stroke-dashoffset: 1100;
    animation: path 5s ease-in-out alternate infinite;
}
.container main #content .play .circle {
    display: none;
}
.container main #content .play .home {
    bottom: 20vw; right: -30vw;
}
.container main #content .play .home .mask {
    height: 92vw; width: 104vw;
    clip-path: polygon(0 25%, 80% 0, 100% 7.5%, 100% 100%, 0% 100%);
}
.container main #content .play .home img {
    height: 92vw;
}
.container main #content .play .home svg {
    height: 82vw; width: 90vw;
    position: absolute;
    left: -20px; bottom: 15vw;
}
.container main #content .play .home svg path {
    fill: none;
    stroke : #f43b00;
    stroke-width: 2px;
    stroke-dasharray : 1700;
    stroke-dashoffset: 1700;
    animation: path2 5s ease-in-out alternate infinite;
}
@keyframes path {
    100% {
        stroke-dasharray: 1100;
        stroke-dashoffset: 10;
    }
}
@keyframes path2 {
    0% {
        stroke-dashoffset: 1700;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
        fill-opacity: 1;
    }
}

/* 커피메뉴 영역 */
.container main #content .colorful {
    color: #f43b00;
    padding-top: 7.6923vw;
    text-align: center;
}
.container main #content .colorful .color_fade {
    opacity: 0;
    transition: 1s;
}
.container main #content .colorful .color_fade.fadein {
    opacity: 1;
}
.container main #content .colorful .color_title {
    font-family: "SCDream6";
    font-size: 9.6vw;
    font-weight: 400;
    line-height: 14.4vw;
    padding-bottom: 5.1282vw;
}
.container main #content .colorful p {
    font-size: 4.8vw;
    font-weight: 400;
    line-height: 7.2vw;
}
.container main #content .colorful .img_moving {
    position: relative;
    margin-top: 25.6410vw;
    height: 250px;
}
.container main #content .colorful .bottom_bg {
    background-color: #FFF;
    height: 125px; width: 100%;
    position: absolute;
    bottom: 0; left: 0;
}
.container main #content .colorful .img_moving .menu {
    width: 100%; height: 250px;
    position: absolute;
    bottom: 0; left: 0;
    background: transparent url(./images/menu.png) repeat-x left top;
    background-size: auto 250px;
    z-index: 2;
    animation: move 25s linear infinite;
}
@keyframes move {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 100%;
    }
}

/* 앱 소개 영역 */
.container main #content .new_dal {
    color: #f43b00;
    text-align: center;
    padding-top: 38.4615vw;
    background-color: #FFF;
    font-weight: 400;
}
.container main #content .new_dal .new_fade {
    opacity: 0;
    transition: 1s;
}
.container main #content .new_dal .new_fade.fadein {
    opacity: 1;
}
.container main #content .new_dal .new_title {
    font-family: "SCDream6";
    font-size: 9.6vw;
    line-height: 14.4vw;
}
.container main #content .new_dal p {
    font-size: 4.8vw;
    line-height: 7.2vw;
    padding-top: 7.6923vw;
}
.container main #content .new_dal .visual {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 70px;
}
.container main #content .new_dal .visual #img_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 65vw;
    width: 100%;
}
.container main #content .new_dal .visual #img_flex li {
    width: 24vw; height: 25vw;
    position: absolute;
    top: -10px;
}
.container main #content .new_dal .visual #img_flex li:nth-child(3) {
    left: -10vw;
}
.container main #content .new_dal .visual #img_flex li:nth-child(4) {
    right: -10vw;
}
.container main #content .new_dal .visual #img_flex li img {
    display: block;
    width: 24vw;
    height: 25vw;
}
.container main #content .new_dal .visual .app {
    height: 140vw; width: 97vw;
    padding: 14vw 23vw 22vw;
    position: relative;
}
.container main #content .new_dal .visual .app .app_img img {
    width: 100%;
    display: block;
}
.container main #content .new_dal .visual .app .app_img::after {
    content: "";
    background: url(./images/bg_phone_01.png) no-repeat 50% 50% transparent;
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: 100% auto;
}

/* 서포터 영역 */
.container main #content .support {
    background-color: #FFF;
    color: #FFF;
}
.container main #content .support .support_bg {
    text-align: center;
    background: url(./images/bg_support.svg) no-repeat 50% 50% / cover;
    padding: 33vw 0 33vw;
}
.container main #content .support .support_bg .support_title {
    font-family: "SCDream6";
    font-size: 9.6vw;
    font-weight: 400;
    line-height: 14.4vw;
    letter-spacing: -0.05em;
    opacity: 0;
    transition: 1s;
}
.container main #content .support .support_bg .support_title.fadein {
    opacity: 1;
}
.container main #content .support .support_bg p {
    font-size: 4.8vw;
    font-weight: 400;
    line-height: 7.2vw;
    margin-top: 5vw;
    opacity: 0;
    transition: 1s;
}
.container main #content .support .support_bg p.fadein {
    opacity: 1;
}
.container main #content .support .support_bg .button a {
    display: block;
    color: #FFF;
    background-color: tomato;
    width: 60vw; height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 10vw;
    border-radius: 10px;
}

/* footer 영역 */
.container footer {
    background-color: #FFF;
    padding: 60px 16px;
}
.container footer .footer_wrap img {
    display: none;
}
.container footer .footer_wrap #gnb2 {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}
.container footer .footer_wrap #gnb2 li {
    width: 100%;
}
.container footer .footer_wrap #gnb2 li strong {
    display: block;
    font-size: 14px;
    line-height: 21px;
    padding: 10px;
    position: relative;
    width: 100%;
}
.container footer .footer_wrap #gnb2 li.active li .color {
    display: block;
}
.container footer .footer_wrap #gnb2 li strong a .ico {
    width: 20px; height: 20px;
    display: block;
    position: absolute;
    background: url(./images/ic_arrow_down.svg);
    top: 50%; right: 0;
    transform: translateY(-50%
    );
}
.container footer .footer_wrap #gnb2 li.trun strong a .ico.click {
    transform: translateY(-50%
    ) rotate(180deg);
}
.container footer .footer_wrap #gnb2 li ul {
    padding: 5px 10px;
    display: none;
}
.container footer .footer_wrap #gnb2 li.trun ul {
    display: block;
}
.container footer .footer_wrap #gnb2 li .color {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #222;
}
.container footer .footer_wrap #gnb2 li .font_color {
    color: #FF592E;
}

/* site wrap 영역 */
.container footer .site_wrap {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/* selet버튼 영역 */
.container footer .site_wrap .selet_wrap {
    margin-top: 30px;
    width: 100%; height: 64px; line-height: 64px;
    background-size: 20px 20px;
}
.container footer .site_wrap .selet_wrap select {
    width: 100%; height: 64px; line-height: 64px;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid #000;
    font-weight: bold;
    background: url(./images/select-plus.svg) no-repeat 100% 50%;
    position: relative;
    appearance:none
}

/* copy 영역 */
.container footer .site_wrap .copyright_wrap {
    margin: 50px 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    color: #bbb;
}
.container footer .site_wrap .copyright_wrap .copyright a {
    color: #000;
}

/* 스토어 영역 */
.container footer .playstore {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 44px;
    justify-content: space-between;
}
.container footer .playstore .apple_btn {
    width: 43.7308vw;
    border: #ddd 1px solid;
    border-radius: 30px;
}
.container footer .playstore .apple_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.container footer .playstore .apple_btn a img {
    width: 24px; height: 24px;
    margin-right: 10px;
}
.container footer .playstore .google_btn {
    width: 43.7308vw;
    border: #ddd 1px solid;
    border-radius: 30px;
}
.container footer .playstore .google_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.container footer .playstore .google_btn a img {
    width: 24px; height: 24px;
    margin-right: 10px;
}
.container footer .playstore .QRcode {
    display: none;
}